//Start Foundation Import
@import "../bower_components/foundation/scss/normalize";
@import "../bower_components/foundation/scss/foundation";
@import "../bower_components/fontawesome/scss/font-awesome";


/*Variables*/

$slabo: 'Slabo 13px', serif;
$break-small: 400px;
$break-medium: 665px;
$break-large: 894px;

$white:#FFFFFF;
$orange: #F36F2F;
$summerOrange: #d07310;
$darkSummerOrange:#a0580c;
$summerGreen: #30aa72;
$darkSummerGreen:#39c987;
$niblitBlue:#158cd0;
$darkNiblitBlue:#106b9f;

/*Main Styles*/

body{
  font-family: $slabo;
}

/*Text styles*/

.headers{
  font-family: $slabo;
}

h1{
  @extend .headers;
  font-weight: 700;
}
h2{
  @extend .headers;
}
h3{
  @extend .headers;
}
h4{
  @extend .headers;
}
h5{
  @extend .headers;
}
h6{
  @extend .headers;
}

input[type='submit']{
  @extend .button;
}

p{
  line-height: 2em;
}

/*------*/

#main-logo{
  display:block;
  position: absolute;
  z-index:10;
  top:15px;
  left:15px;
  img{
    width:50px;
  }
}

a{
  &:hover{
    color:$orange;
  }
}

#menu-link{
  color:$white;
  &:hover{
    color:$orange;
  }
  display:inline-block;
  padding: 15px 15px 15px 15px;
}

#main-navigation{
  background: $darkNiblitBlue;

  ul{
    margin:0px;
  }

  li{
    list-style-type: none;
    a{
      padding-left:20px
    }
    li{
      a{
        padding-left:40px
      }
    }
  }
  a{
    display:block;
    border-bottom:1px $white solid;
    color:$white;
    padding-top:10px;
    padding-bottom:10px;
    &:hover{
      color:$orange;
    }

    font-size: .8em;
  }

  .search{
    input{
      display: inline-block !important;
    }
    input[type='text']{
      width:221px;
    }
    input[type='submit']{
      padding:11px !important;
    }
  }
}

.niblit-large-header{
  margin: 0 0 50px 0;

  .header-color-style{
    background:$niblitBlue;
    @media screen and (max-width: $break-large) {
      padding:0 0 50px 0 ;
    }
    .niblit-header-content{
      display:block;
      h2{
        height:1px;
        margin:0px;
        padding:0px;
      }

      .niblit-header-content-wrap{
        min-height: 500px;
        a{
          color:$white;
        }
      }
    }

  }

  p{
    font-size:2em;
    text-align: justify;
    color:$white;
    line-height: 1.8em;
    @media screen and (max-width: $break-medium) {
      text-align: left;
      font-size:1.5em;
    }
  }

  .header-dark{
    background: $darkNiblitBlue;
    color:$white;
    .niblit-categories{
      font-size: 1em;
      a{
        color:$white;
        &:hover{
          color:$orange;
        }
      }
    }
    .niblit-action-icons{
      font-size:1em;
      a{color:$white;}
    }
    i{
      margin:0 5px 0 5px;
      display:inline-block;
    }
  }

  .author-source{
    position: absolute;
    z-index: 100;
    right:0px;
    bottom:15px;
    font-size:.8em;
    color:$white;
    @media screen and (max-width: $break-medium) {
      @extend .row;
      position:relative;
      text-align: center;
      right: 0;
      bottom: 0;
      width:100%;
    }
    a{
      color:$white;
      &:hover{
        color:$orange;
      }
    }
  }
}

.niblit-large-header-post{
  @extend .niblit-large-header;

  h1{
    color:$white;
    text-align: justify;
  }

  .header-color-style{
    .niblit-header-content{
      .niblit-header-content-wrap{
        min-height: 300px;
        a{}
      }
    }
  }
  .niblit-action-icons{
    a{color:$white;}
  }
}



.post-niblit{
  $min-height:170px;
  margin-bottom: 80px;
  color:$white;
  overflow:hidden;



  h2{
    height:1px;
    margin:0px;
    padding:0px;
  }


  .niblit-link-wrapper{
    background:$niblitBlue;
    display:block;
    color:$white;
    min-height:$min-height;

    section{
      min-height:$min-height;
      display:table;
      padding:10px 50px 10px 50px;
      @media screen and (max-width: $break-large) {
        padding:20px 50px 35px 50px;
      }
      p{
        display:table-cell;
        vertical-align: middle;
        text-align:justify;
        line-height: 1.8em;
        @media screen and (max-width: $break-medium) {
          text-align:left;
        }
      }
    }
  }

  p{
    font-size:1.5em;

  }
  footer{
    padding: 3px 0 3px 0;
    bottom:0px;
    &.dark{
      background: #104979;
      a{
        color:$white;
        &:hover{
          color:$orange;
        }
      }
      i{
        margin:0 5px 0 5px;
        display:inline-block;
      }
    }
    .niblit-categories{
      font-size:.8em;
    }
    .niblit-action-icons{
      font-size:.8em;
    }
  }
  .author-source{
    position: absolute;
    z-index: 100;
    right:50px;
    bottom:25px;
    font-size:.8em;
    @media screen and (max-width: $break-medium) {
      @extend .row;
      position:relative;
      text-align: center;
      background:$niblitBlue;
      right: 0;
      bottom: 0;
    }
    a{
      color:$white;
      &:hover{
        color:$orange;
      }
    }
  }

}



.header-color-style{
  &.niblitOrange{
    background: $summerOrange;
  }
  &.niblitGreen{
    background: $summerGreen;
  }
}

.header-dark{
  &.niblitOrange{
    background: $darkSummerOrange;
  }
  &.niblitGreen{
    background: $darkSummerGreen;
  }
}

.post-niblit{
  &.niblitOrange{
    .niblit-link-wrapper{
      background:$summerOrange;
    }
    .author-source{
      @media screen and (max-width: $break-medium) {
        background:$summerOrange;
      }
    }
    footer{
      &.dark{
        background:$darkSummerOrange;
      }
    }
  }
  &.niblitGreen{
    .niblit-link-wrapper{
      background:$summerGreen;
    }
    .author-source{
      @media screen and (max-width: $break-medium) {
        background:$summerGreen;
      }
    }
    footer{
      &.dark{
        background:$darkSummerGreen;
      }
    }
  }
}



#theContent{
  a{
    color:$darkNiblitBlue;
    &:hover{
      color:$orange;
    }
  }
}





#main-footer{
  background:$darkNiblitBlue;
  padding-bottom: 30px;
  padding-top:25px;
  margin-top:25px;
  .widget{

    h5{
      color:$white;
      fout-weight:500;
    }

    a{
      color:$white;
      &:hover{
       color: $orange;
      }
    }

  }
}





/*Utility Classes*/
.hiddenIndent{
  text-indent: -999999px;
}
.hidden{
  display:none;
}

.display-table{
  display:table;
  .verticalAlign{
    display:table-cell;
    vertical-align: middle;
  }
}

em{
  font-style: italic;
}
strong{
  font-weight: bold;
}
.alignleft{
  float: left;
  margin-left:0px;
}
.alignright{
  float: right;
  margin-right:0px;
}
.aligncenter{
  display:block;
  clear:both;
  margin-left:auto !important;
  margin-right:auto !important;
}
.text-white{
  color:$white;
}

.text-red{
  color:$summerOrange;
}